<div id="sidebar">
  <img class="profile_pic" src='{{"/public/icon.jpg" | absolute_url}}'/> <!-- **Tag Insertion, like this**-->   
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        <center>{{ site.title }}</center>
      </a>
     </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
     
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}
  {% include sidebar-icon-links.html %}
</div>
